# Tower prend ce fichier en compte quand il est à la racine du projet.
[defaults]
roles_path = ./roles
host_key_checking = True
stdout_callback = yaml
# L'import d'un gros projet peut durer longtemps : ne pas couper la connexion.
timeout = 60
